.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.device {
  > svg {
      font-size: 4em;
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  > p {
    font-weight: bold;
    margin-bottom: 2px;
  }
}


.flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 -10px;
}

.flex-col {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &.gr-1 {
    flex-grow: 1;
  }
  &.gr-4 {
    flex-grow: 4;
  }
}

.flex-obj {
  flex: 1;
  display: flex;
  align-items: center;
  > div {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .flex-row {
    flex-direction: column;
  }
}
