{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-es2015",
    "@babel/preset-stage-2"
  ],
  "plugins": [
    "module:jsx-control-statements",
    "react-require",
    "transform-decorators-legacy"
  ]
}
