{
  "protocol":"https",
  "host":"lsk.mgbeta.ru",
  "externalPort":443,
  "db": {
    "uri":"mongodb://lsk-example1:lsk-example1-pass@publicdb.mgbeta.ru:27000/lsk-example1"
  },
  "auth": {
    "socials": {
      "vkontakte": {
        "config": {
          "clientID": "newConfig",
          "clientSecret": "o1quBEHhCa8OwCKdmdH5"
        }
      }
    }
  }
}
