.cache
.idea
.ssh
lerna-debug.log
coverage
**/.DS_Store
**/node_modules

storage
.env*
!.env.example.*
**/__*
packages/*/build
packages/*/release*
packages/*/storage
packages/*/public/index.html
packages/*/public/footer.html
packages/*/public/asset-manifest.json
packages/*/public/precache-manifest*
packages/*/public/service-worker.js
packages/*/public/static
packages/*/.env*
packages/*/cra/public/assets
