.masonry {
  margin: 1.5em 0;
  column-gap: 1.5em;
  padding: 0;
}

.item {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

@media only screen and (min-width: 992px) {
  .masonry {
    column-count: 2;
  }
}

@media only screen and (min-width: 1600px) {
  .masonry {
    column-count: 3;
  }
}
