
.modal.fade .modal-dialog {
  transform: translate3d(0, -15%, 0);
  transition: transform .35s ease-in-out;
  will-change: transform;
}

.modal.in .modal-dialog {
  transform: translate3d(0, 0, 0);
}

.modal {
  z-index: 3000 !important;
}

.modal-dialog {
  margin: 80px auto;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    margin: 80px auto;
  }
}

.fade {
  opacity: 0;
  transition: opacity 0.3s linear;
  will-change: oacity;
}

.modal.fade.in {
  opacity: 1 !important; }


.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2) !important;
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    opacity: 0.5 !important;
    filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: none; }
  .modal-header:before, .modal-header:after {
    content: " ";
    display: table; }
  .modal-header:after {
    clear: both; }

.modal-header .close, .modal-header .mailbox-attachment-close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857; }

.modal-body {
  position: relative;
  padding: 20px; }

.modal-footer {
  padding: 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }
  .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table; }
  .modal-footer:after {
    clear: both; }
  .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 300px; } }



.modal-container .modal-content {
  min-height: 56px;
  /* overflow: hidden !important; */
}

.modal-container .modal-composer > *:last-child {
  padding-bottom: 24px;
  border-radius: 0 0 8px 8px;
}

.modal-container .modal-composer > .modal-help:first-child {
  padding-top: 24px;
  padding-bottom: 32px;
}

.modal-container .modal-composer > .modal-help:last-child {
  padding-bottom: 24px;
  padding-top: 12px;
}

.modal-composer > *:first-child:not(.modal-title) {
  padding-top: 24px;
  margin-top: 0;
}

.modal-composer > .modal-title:first-child {
  border-radius: 8px 8px 0 0;
}

.modal-composer > .modal-title:first-child + * {
  padding-top: 24px;
}


.modal-composer .modal-help .buzz-modal-content {
  padding-top: 8px;
}


.modal-container .modal-composer > .modal-transition > .stateful-modal-inner > *:last-child {
  padding-bottom: 24px;
  border-radius: 0 0 8px 8px;
}

.modal-container .modal-composer > .modal-transition > .stateful-modal-inner > .modal-help:first-child {
  padding-top: 24px;
  padding-bottom: 32px;
}

.modal-container .modal-composer > .modal-transition > .stateful-modal-inner > .modal-help:last-child {
  padding-bottom: 24px;
  padding-top: 12px;
}

.modal-composer > .modal-transition > .stateful-modal-inner > *:first-child:not(.modal-title) {
  padding-top: 24px;
  margin-top: 0;
}

.modal-composer > .modal-transition > .stateful-modal-inner > .modal-title:first-child {
  border-radius: 0 !important;
}

.modal-composer > .modal-transition > .stateful-modal-inner > .modal-title:first-child + * {
  padding-top: 24px;
}


.modal-composer > .modal-transition > stateful-modal-inner .modal-help .buzz-modal-content {
  padding-top: 8px;
}

.modal-composer > .modal-scroll-content:last-child {
  border-radius: 0 0 8px 8px !important;
  border-bottom: none !important;
}

.modal-scroll-content {
  padding: 0 !important;
  margin: 0 !important;
}

@media (min-width: 768px) {
  .modal-container-small {
    width: 428px;
  }

  .modal-container-default {
    width: 576px;
  }

  .modal-container-large {
    width: 872px;
  }
}

