<div class="header">Привет, <%= params.user.profile.firstName %>!</div>
<div class="content">
  <h1>Мы получили от тебя запрос на<br>восставление пароля</h1>
  <p>Твой новый пароль: <b><%= params.password%></b>
  <div class="footer1">
    <!-- <p>Напиши <a href="mailto:suvorog.igor.90@gmail.com">Магической силе</a>, если у тебя возникли проблемы! Мы обязательно тебе поможем. -->
    <p>Удачного дня!</p>
  </div>
</div>
</div>
