{
  "presets": [
    "es2015",
    "react",
    "node5",
    "stage-0"
  ],
  "plugins": [
    "jsx-control-statements",
    "react-require",
    "transform-decorators-legacy",
    "transform-runtime"
  ]
}
