.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 320px;
  padding: 0 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto
}
.notification {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  opacity: .9;
  margin-top: 15px
}
.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 700;
  margin: 0 0 5px
}
.notification:focus,
.notification:hover {
  opacity: 1
}
.notification-enter {
  visibility: hidden;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0)
}
.notification-enter.notification-enter-active {
  transition: all .4s
}
.notification-enter.notification-enter-active,
.notification-leave {
  visibility: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}
.notification-leave.notification-leave-active {
  visibility: hidden;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: all .4s
}
.notification-info {
  background-color: #2f96b4
}
.notification-success {
  background-color: #51a351
}
.notification-warning {
  background-color: #f89406
}
.notification-error {
  background-color: #bd362f
}
