.static-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
  background: none;
}

.tooltip-static .tooltip {
  position: relative;
  display: inline-block;
  margin: 5px 10px;
}

.card-static {
  background: #ecf0f5;
  padding: 20px;
  border-radius: 3px;
}

.card-static .card {
  width: 318px;
  display: inline-block;

}


.guideline__section > h3 {
  margin-bottom: 20px;
}

.guideline__section > div {
  margin: -5px -5px 10px;
}

.guideline__section > div > * {
  margin: 5px;
}
