.link {
  font-size: 17px;
  cursor: pointer;
  position: relative;
}

.notify {
  display: flex;
  flex-direction: column;
}

.message {
  display: block;
  font-size: 90%;
}

.date {
  font-size: 70%;
  text-align: right;
  opacity: .6;
}

.badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bd362f;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
